<?xml version="1.0"?>
<config>
    <modules>
        <Sitegurus_Rules>
            <version>0.1.0</version>
        </Sitegurus_Rules>
    </modules>
    <frontend>
        <routers>
            <rules>
                <use>standard</use>
                <args>
                    <module>Sitegurus_Rules</module>
                    <frontName>rules</frontName>
                </args>
            </rules>
        </routers>
        <layout>
            <updates>
                <rules>
                    <file>rules.xml</file>
                </rules>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<rules>
				<use>admin</use>
				<args>
					<module>Sitegurus_Rules</module>
					<frontName>rules</frontName>
				</args>
			</rules>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<rules module="rules">
				<title>Rules</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="rules">
						<title>Manage Rules</title>
						<sort_order>0</sort_order>
						<action>rules/adminhtml_rules</action>
					</items>
				</children>
			</rules>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Sitegurus_Rules>
							<title>Rules Module</title>
							<sort_order>10</sort_order>
						</Sitegurus_Rules>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<rules>
					<file>rules.xml</file>
				</rules>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <rules>
                <class>Sitegurus_Rules_Model</class>
                <resourceModel>rules_mysql4</resourceModel>
            </rules>
            <rules_mysql4>
                <class>Sitegurus_Rules_Model_Mysql4</class>
                <entities>
                    <rules>
                        <table>rules</table>
                    </rules>
                </entities>
            </rules_mysql4>
        </models>
        <resources>
            <rules_setup>
                <setup>
                    <module>Sitegurus_Rules</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rules_setup>
            <rules_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </rules_write>
            <rules_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </rules_read>
        </resources>
        <blocks>
            <rules>
                <class>Sitegurus_Rules_Block</class>
            </rules>
        </blocks>
        <helpers>
            <rules>
                <class>Sitegurus_Rules_Helper</class>
            </rules>
        </helpers>
    </global>
</config>